p {
    font-size: 22em;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
}

.day {
    padding: 0 50px;
    font-size: 10vw;
    color: white;
}

img {
    width: 20%;
}