p {
    font-size: 22em;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    width: 100%;
    margin: auto;
    color: white;
}

.day {
    font-size: 10vw;
    color: white;
}
